.area {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #4e5d73;
    max-width: 550px;
    width: fit-content;
    height: fit-content;
    margin: auto 20px;
}

.number {
    text-transform: uppercase;
    word-spacing: 10px;
    color: #52ffa8;
}

.advice {
    margin: 20px auto 0; 
    font-size: 28px;
    width: 100%;
    color: #FFF;
    padding: 20px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #52ffa8;
    cursor: pointer;
}